 *{
    font-family: Arial, Helvetica, sans-serif
 }
 
 h1{
    text-align: center;
}

.forsat {
    display: none;
}

#left-guess{
    display: none;
}

#guess-num{
    color: red;
}

.red{
    color : red 
}

.blue{
    color: blue;
}

#win, #lose{
    display: none;
}